header {
  background-color: #e4e3ea;
  height: 170px;
}
.headerText {
  font-size: 30px;
  color: #54a567;
}
.headerWrapperSpace {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.navMenu {
  height: 75px;
  background-color: black;
}
.navMenuItems {
  margin-left: 35px;
  display: flex;
}
.navItem {
  text-decoration: none;
  padding: 0 20px;
  color: white;
  font-size: 20px;
  border-left: grey 1px solid;
  border-right: grey 1px solid;
  transition: all 0.5s;
}
.navItem p {
  height: inherit;
  margin: 25px 15px;
}
.navItem:hover {
  background-color: #54a567;
}
